<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <div *ngIf="data.text">{{data.text}}</div>
    <div *ngFor="let field of data.fields; let ind = index">
        <div>{{field.label}}:</div>
        <mat-form-field>
            <textarea
                *ngIf="field.multiline"
                matInput
                [(ngModel)]="values[ind]"
                rows="4"
            ></textarea>
            <input
            *ngIf="!field.multiline"
            matInput
            [(ngModel)]="values[ind]"
            >
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="values" cdkFocusInitial>{{data.action || 'Create'}}</button>
</div>