@import './styles/reusable.scss';
@include view-cont;
header {
    display: flex;
    color: white;
    font-weight: bold;
    flex: 0 0 40px;
    background-color: teal;
    justify-content: center;
    align-items: center;
    .left-links {
        display: flex;
        flex: 1 0 0;
        justify-content: flex-start;
    }
    .right-links {
        display: flex;
        flex: 1 0 0;
        justify-content: flex-end;
        .login, .logout {
            font-weight: bold;
        }
        .signup {
            font-size: 13px;
        }
    }
}
#content {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
}
footer {
    flex: 0 0 60px;
    background-color: teal;
}