@import './styles/reusable.scss';
@include view-cont;
.menu-option {
}
header {
    display: flex;
    color: white;
    font-weight: bold;
    flex: 0 0 40px;
    background-color: teal;
    justify-content: center;
    align-items: center;
}
#content {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
}
footer {
    flex: 0 0 60px;
    background-color: teal;
}