<header>
    <div class="main-container">
        <div class="left-links">
            <button mat-button [routerLink]="['decks']">Logo</button>
            <button mat-button [routerLink]="['decks']">Decks</button>
            <button mat-button [routerLink]="['dashboard']">Dashboard</button>
            <button mat-button [routerLink]="['decks']">Options</button>
        </div>
        <div class="right-links">
            <button *ngIf="!userLogged()" mat-button (click)="goToSignup()" class="signup">Sign Up</button>
            <button *ngIf="!userLogged()" mat-button (click)="goToLogin()" class="login">Login</button>
            <button *ngIf="userLogged()" mat-button (click)="signOut()" class="logout">Logout</button>
        </div>
    </div>
</header>
<div id="content">
    <router-outlet></router-outlet>
</div>
<footer>
    footer :)
</footer>