@import './../../styles/reusable.scss';
@include view-cont;
.cards-container {
    display: flex;
    flex-direction: column;
    .cards-header {
        display: flex;
        justify-content: space-between;
        flex: 0 0 70px;
        margin: auto 10px;
        .title {
            line-height: 70px;
            font-size: 22px;
            font-weight: bold;
            padding-left: 20px;
        }
        .options {
            display: flex;
            >div {
                display: flex;
                padding: 1px 10px;
                flex-direction: column;
                justify-content: flex-end;
                text-align: center;
                flex: 1 0 0;
            }
            .delete:hover {
                cursor: pointer;
                color: firebrick;
            }
            .add:hover,
            .study:hover {
                cursor: pointer;
                color: teal;
            }
        }
    }
    .no-data-cont {
        @include no-data-message;
    }
    .loading-cont{
        @include loading-icon;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex: 1 0 0;
        margin: auto 10px;
        .card {
            display: flex;
            flex-direction: column;
            flex: 1 0 300px;
            min-height: 150px;
            max-width: 500px;
            margin: 5px;
            border: 1px solid gainsboro;
            border-radius: 2px;
            .card-header {
                display: flex;
                flex: 0 0 20px;
                justify-content: flex-end;
                align-items: center;
                color: gray;
                font-size: 14px;
                background-color: lighten($color: lightsteelblue, $amount: 12);
                >i {
                    padding-right: 8px;
                    padding-left: 8px;
                }
                .fas:hover {
                    cursor: pointer;
                }
                .fa-pencil-alt:hover {
                    color: teal;
                }
                .fa-trash-alt:hover {
                    color: firebrick;
                }
            }
            .card-back,
            .card-front {
                display: flex;
                flex-direction: column;
                flex: 1 0 0;
                padding: 5px;
                .title {
                    color: dimgray;
                    font-size: 15px;
                }
                .content {
                    font-size: 16px;
                }
            }
            .card-form {
                display: flex;
                flex-direction: column;
                flex: 1 0 0;
                textarea {
                    width: 98%;
                    resize: none;
                }
            }
        }
    }
}