<div class="main-container cards-container">
   <ng-container *ngIf="cardsSummary$ | async as cardsSummary">
      <div class="cards-header">
         <div class="title">
            {{cardsSummary.deckName}}
         </div>
         <div class="options">
            <div class="delete">
               <div>
                  <i class="fas fa-trash-alt"></i>
               </div>
               <div>
                  delete
               </div>
            </div>
            <div class="study">
               <div>
                  <i class="fas fa-book-reader"></i>
               </div>
               <div>
                  study
               </div>
            </div>
            <div
               class="add"
               (click)="addCard()">
               <div>
                  <i class="fas fa-plus"></i>
               </div>
               <div>
                  add
               </div>
            </div>
         </div>
      </div>
      <div class="cards">
         <div
            *ngFor="let card of cardsSummary.cards"
            class="card">
            <div class="card-header">
               <i class="fas fa-pencil-alt"></i>
               <i
                  class="fas fa-trash-alt"
                  (click)="deleteCard(card)"
               ></i>
            </div>
            <div class="card-front">
               <div class="title">
                  Front:
               </div>
               <div class="content">
                  {{card.front}}
               </div>
            </div>
            <div class="card-back">
               <div class="title">
                  Back:
               </div>
               <div class="content">
                  {{card.back}}
               </div>
            </div>
         </div>
      </div>
   </ng-container>
</div>
