<div class="main-container cards-container">
   <ng-container *ngIf="cardsSummary$ | async as cardsSummary">
      <div class="cards-header">
         <div class="title">
            {{cardsSummary.deckName}}
         </div>
         <div class="options">
            <div
               (click)="deleteDeck()"
               class="delete">
               <div>
                  <i class="fas fa-trash-alt"></i>
               </div>
               <div>
                  delete
               </div>
            </div>
            <div class="study">
               <div>
                  <i class="fas fa-book-reader"></i>
               </div>
               <div>
                  study
               </div>
            </div>
            <div
               class="add"
               (click)="addCard()">
               <div>
                  <i class="fas fa-plus"></i>
               </div>
               <div>
                  add
               </div>
            </div>
         </div>
      </div>
      <div class="no-data-cont" *ngIf="cardsSummary.cards && cardsSummary.cards.length == 0">
         No cards found for this deck
      </div>
      <div class="loading-cont" *ngIf="cardsSummary.cards == null">
            <div><i class="fas fa-spinner fa-pulse"></i></div>
      </div>
      <div class="cards" *ngIf="cardsSummary.cards && cardsSummary.cards.length > 0">
         <div
            *ngFor="let card of cardsSummary.cards; let ind = index"
            class="card">
            <div class="card-header">
               <i
                  class="fas fa-pencil-alt"
                  (click)="editCard(ind, card)"
                  *ngIf="!card.editable"></i>
               <i
                  class="fas fa-trash-alt"
                  (click)="deleteCard(card)"
                  *ngIf="!card.editable"
               ></i>
               <div
                  class="save-cancel"
                  (click)="cancelEditCard(ind)"
                  *ngIf="card.editable">
                  cancel <i class="fas fa-times"></i>
               </div>
               <div
                  class="save-confirm"
                  (click)="saveCard(card)"
                  *ngIf="card.editable">
                  save <i class="fas fa-check"></i>
               </div>
            </div>
            <div class="card-front" *ngIf="!card.editable">
               <div class="title">
                  Front:
               </div>
               <div class="content">
                  {{card.front}}
               </div>
            </div>
            <div class="card-back" *ngIf="!card.editable">
               <div class="title">
                  Back:
               </div>
               <div class="content">
                  {{card.back}}
               </div>
            </div>
            <form
               [formGroup]="cardForm"
               *ngIf="card.editable"
               class="card-form">
               <div class="card-front">
                  <div class="title">
                     Front:
                  </div>
                  <div class="content">
                     <textarea
                        type="text"
                        formControlName="front">
                     </textarea>
                  </div>
               </div>
               <div class="card-back">
                  <div class="title">
                     Back:
                  </div>
                  <div class="content">
                        <textarea
                        type="text"
                        formControlName="back">
                     </textarea>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </ng-container>
</div>
