@import './../../styles/reusable.scss';
@include view-cont;
.decks-container {
    display:flex;
    flex-direction: column;
    .title {
        display: flex;
        align-items: center;
        flex: 0 0 50px;
        font-size: 22px;
        font-weight: bold;
        margin: auto 10px;
    }
    .summary {
        display: flex;
        flex: 0 0 55px;
        margin: auto 10px;
        .summary-data {
            display:flex;
            flex: 1 0 0;
            .label-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-basis: 120px;
                align-content: center;
                .label {
                    color: gray;
                    font-weight: bold;
                    font-size: 13px;
                }
                .info {
                    font-size: 15px;
                }
            }
        }
        .action {
            & > i {
                width: 24px;
                padding-left: 3px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 0 0 45px;
            height: 45px;
            font-size: 24px;
            border-radius: 40px;
            color: teal;
            &:hover {
                background-color: gainsboro;
                cursor: pointer;
            }
        }
    }
    .collection-cont {
        margin: auto 10px;
        flex: 1 0 0;
        .collection {
            display: flex;
            padding-top: 12px;
            padding-bottom: 6px;
            &:hover {
                background-color: lighten($color: gainsboro, $amount: 8);
                cursor: pointer;
            }
            .collection-image {
                &>img {
                    max-width: 100%;
                    height: auto;
                }
                flex: 0 0 50px;
                height: 50px;
                width: 50px;
            }
            .collection-info {
                flex: 1 0 0;
                padding-left: 10px;
                .col-title {
                    font-size: 15px;
                    font-weight: bold;
                }
                .col-content {
                    display: flex;
                    &>div {
                        flex: 1 0 0 ;   
                    }
                    padding-top: 5px;
                    font-size: 13px;
                }
            }
            .collection-actions {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 0 0 70px;
                &:hover {
                    color: teal;
                }
                .action-text {
                    font-size: 13px;
                    flex: 1;
                }
                .action-icon {
                    font-size: 15px;
                }
            }
        }
    }
}
