<div class="decks-container main-container">
    <div class="title">My Decks</div>
    <ng-container *ngIf="{
        summary: decksSummary$ | async
    } as data">
        <div class="summary" *ngIf="data.summary">
            <div class="summary-data">
                <div class="label-info">
                    <div class="label">Total:</div>
                    <div class="info">{{data.summary.cardCount}} cards</div>
                </div>
                <div class="label-info">
                    <div class="label">Last Studied:</div>
                    <div class="info">{{data.summary.lastStudied}}</div>
                </div>
            </div>
            <div class="action">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <div class="collection-cont" *ngIf="data.summary">
            <div class="collection" *ngFor="let deck of data.summary.decks">
                <div class="collection-image">
                    <img src="../../../assets/cards-image.png">
                </div>
                <div class="collection-info">
                    <div class="col-title">
                        {{deck.deckName}}
                    </div>
                    <div class="col-content">
                        <div>{{deck.cardCount}} Cards</div>
                        <div>Created on Nov the 6th</div>
                        <div>Owner:{{data.summary.userName}}</div>
                    </div>
                </div>
                <div class="collection-actions">
                    <div class="action-icon">
                        <i class="fas fa-book-reader"></i>
                    </div>
                    <div class="action-text">
                        Study
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>